body{
    border-top: solid 2px rgb(180, 179, 179);
    margin-left: 25%;
    margin-right: 25%;
    border-left: solid 2px rgb(179, 176, 176);
    border-right: solid 2px rgb(179, 177, 177);
    margin-top: 10%;
}

h1{
    text-align: center;
}
.form-label{
    font-weight: bold;
}
.btn-light{
    border: 1px solid;
    
}
form{
    padding: 15px;
}